@page
@model RazorPages.Pages.LoginModel
@{
    <h1>Account</h1>

    <form method="post">
        <button type="submit">Sign in</button>
        <input type="text" name="email" />
        <input type="text" name="password" />
    </form>
}
